.section-page1 {
    display: flex;
}

.section-page1 .left-part {
    width: 50%;
}

.section-page1 .right-part {
    width: 50%;
}

.section-page1 .message-list {
    border: 1px solid;
    padding: 0px 20px;
}